* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --antrasit_color: #383e42
}

html {
    font-size: 15px;
}

body {
    background-color: rgb(235, 223, 247);
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("./img/todo.jpg");
}