* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --antrasit_color: #383e42
}

html {
    font-size: 15px;
}

body {
    background-color: rgb(235, 223, 247);
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("./img/todo.jpg");
}

h5 {
    text-align: left;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 2rem;
}

#hr_id {
    border-top: 1.9px dashed;
}

ul {
    list-style-type: none;
}

#header_todo {
    text-align: center;
    font-size: 3rem;
    /*text-transform: uppercase;*/
    transition: 2s all;
}

#header_todo:hover {
    cursor: pointer;
    transform: rotate(-360deg);
    background-color: var(--antrasit_color);
    color: #ffffff;
}

.my_container {
    width: 90%;
    background-color: #ffffff;
    border-radius: 1.5rem;
    padding: 1.2rem;
    margin: 10rem auto;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .5);
    opacity: 0.8;
}

.input-icons i {
    position: absolute;
    width: 1px;
    padding: 10px;
    opacity: 0.8;
}

.input-icons {
    width: 100%;
    margin-bottom: 5px;
}

.input-field {
    width: 30%;
    padding: 5px;
    text-align: center;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .5);
    border-radius: 1.5rem;
}

input[type="text"]:focus {
    background-color: var(--antrasit_color);
    color: white;
}

.label_completed {
    text-decoration: line-through;
    opacity: 0.8;
}

#footer_id {
    position: absolute;
    top: 75%;
    left: 43%;
    background-color: var(--antrasit_color);
    color: #ffffff;
    padding: 1rem;
    opacity: 0.9;
    transition: 2s all;
}

#footer_id:hover {
    display: none!important;
}


/*responsive design */

@media screen and (min-width: 760px) {
    .my_container {
        width: 85%;
        margin: 2rem auto;
    }
}

@media screen and(min-width: 1020px) {
    .my_container {
        width: 50%;
        margin: 6rem auto;
    }
}